body{
	font-family: $primary-font;
	margin: 0;
	font-size: 16px;
}
.container{
	@include container;
}
img{
	max-width: 100%;
	width: 100%;
}
hr{
	border-style: solid;
	border-color: $brand-secondary-color;
	margin: 4rem auto;
	width: 80%;
}