.cards-wrapper,
.drilldown{
	padding: 0.625rem;
	@media all and (max-width: 767px){
		z-index: 3;
		position: relative;
	}
}
.card-row{
	@media all and (min-width: 768px){
		border-bottom: 1px solid $border-grey;
	}
	padding-bottom: 0.625em;
	padding-top: 0.625em;
	&:first-of-type{
		padding-top: 0;
	}
	&:last-of-type{
		border: 0;
	}
}
.card{
	border-right: 1px solid $border-grey;
	&.selected{
		@include box-shadow(inset 1px 1px 8px $text-dark-grey);
		background: #EEE;
	}
	@media all and (min-width: 768px){
		&:last-of-type{
			border: 0;
		}
		&:hover{
			@include box-shadow(1px 1px 8px $text-dark-grey);
		}
	}
	@media all and (max-width: 767px){
		border: 0;
	}
	.icon-medium{
		position: absolute;
		margin-left: -3rem;
		top: -0.35rem;
		@media all and (max-width: 980px){
			display: none;
		}
	}
	.chart-wrapper{
		max-width: 15.63rem;
		max-height: 4.375rem;
		display: block;
		margin: .5rem auto 0;
	}
}