@mixin border-radius($radius){
	border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
}

@mixin transform($transform){
	-webkit-transform: $transform;
	-moz-transform: $transform;
	transform: $transform;
}