.dashboard__teaser-text{
	font-weight: 300;
	margin-top: 0;
	font-size: .75em;
	text-transform: uppercase;
	padding: 0 .313em;
}
.vertical-navbar__name{
	color: #FFF;
	text-decoration: none;
	margin: 0 auto;
	visibility: hidden;
	text-align: center;
	padding: 0 0 1em;
}
.category-text{
	text-align: center;
    font-size: 0.875em;
    margin-top: 0;
    font-weight: 300;
}
.dashboard-main-content__category-text{
	margin-bottom: 0;
	margin-top: 1em;
	color: #777;
}
.chart-title{
	font-size: 1em;
	color: #555;
	text-align: center;
	margin-top: 0;
}