.dashboard__teaser-text{
	font-weight: 300;
	margin-top: 0;
	font-size: .75em;
	text-transform: uppercase;
	padding: 0 .313em;
}
.vertical-navbar__name{
	color: #FFF;
	text-decoration: none;
	margin: 0 auto;
	visibility: hidden;
	text-align: center;
	padding: 0 0 .5em;
}
.category-text{
	text-align: center;
    font-size: 0.875em;
    margin-top: 0;
    font-weight: 300;
}
.dashboard-main-content__category-text{
	margin-bottom: 0;
	margin-top: 0.583em;
	color: #777;
	font-size: 1.5em;
	position: relative;
	img{
		position: absolute;
		margin-left: -2.083em;
		width: 1.667em;
		top: -0.208em;
	}
}
.chart-title{
	font-size: 1.25em;
    color: #777;
    text-align: center;
    margin-top: 2em;
    font-weight: 300;
    margin-bottom: 1em;
}
.dashboard-main-content__school-name{
	color: #FFF;
	margin: 0;
	font-size: 3em;
	font-weight: 300;
	z-index: 2;
	position: relative;
}
.dashboard-main-content__change{
	font-size: 1em;
	text-align: center;
	margin: 0;
	margin-bottom: 1em;
	span{
		&.positive{
			color: #178817;
		}
		&.negative{
			color: #CC171B;
		}
		&.timeframe{
			font-size: .65em;
			color: #777;
		}
	}
}