.dashboard-main-content{
	@include span(11 of 12 last no-gutters);
	@include container;
	height: 100vh;
}
.dashboard-content-feed{
	@include span(9 of 12 first no-gutters wide);
	@include container;
	overflow: scroll;
	height: 100%;
}
.dashboard-main-content__card{
	@include container;
	border-right: 1px solid #EEE;
	@include span(4 no-gutters wide);
	&.first{
		@include span(4 no-gutters);
	}
	&.last{
		@include span(4 no-gutters wide);
	}
	&.no-border-right{
		border-right: 0;
	}
	&:hover{
		box-shadow: 1px 1px 8px #999;
	}
}
.dashboard-main-content__cards-wrapper{
	padding: 0.625em;
}
.card-row-wrapper{
	@include container;
	border-bottom: 1px solid #EEE;
	padding-bottom: 0.625em;
	padding-top: 0.625em;
	&.no-border{
		border: 0;
	}
	&.no-padding-top{
		padding-top: 0;
	}
}
.dashboard-main-content__count{
	text-align: center;
    margin-top: 0;
    color: #777;
    font-size: 2em;
    font-weight: 300;
    margin-bottom: .25em;
    padding-top: 0.438em;
}
.dashboard-main-content__chart-wrapper{
	max-width: 15.625em;
	max-height: 4.375em;
	display: block;
	margin: 0 auto;
}
.dashboard-scrollable-stats{
	height: calc(100vh - 52px);
	overflow-y: scroll;
}
.lower-charts-wrapper{
	@include container;
	@include span(12 no-gutters);
	hr{
		border: 1px solid #CCC;
		width: 60%;
		margin-top: 2em;
	}
}
.lower-chart{
	@include container;
	@include span(6 of 12);
    height: 27.375em;
    &.first{
		@include span(6 of 12 first);
	}
	&.second{
		@include span(6 of 12 last);
	}
	&:last-of-type{
		@include span(12);
	}
}