.dashboard-main-content{
	@include span(11 of 12 last no-gutters);
	@include container;
}
.dashboard-content-feed{
	@include span(7 of 12 first no-gutters wide);
	@include container;
}
.dashboard-stats-feed{
	@include span(5 of 12 last no-gutters);
	@include container;
}
.dashboard-chart-wrapper{
	@include container;
	padding-top: 1em;
}
.dashboard-main-content__school-name{
	color: #FFF;
	margin: 0;
	font-size: 3em;
	padding: .95em .75em 0;
	font-weight: 300;
	z-index: 2;
	position: relative;
}
.dashboard-main-content__card{
	@include container;
	border-right: 1px solid #EEE;
	&.first{
		@include span(6 no-gutters);
	}
	&.last{
		@include span(6 no-gutters wide);
	}
	&.no-border-right{
		border-right: 0;
	}
	&:hover{
		box-shadow: 1px 1px 8px #999;
	}
}
.dashboard-main-content__card-wrapper{
	padding: 0.625em;
	border-bottom: 1px solid #EEE;
	border-top: 1px solid #EEE;
}
.dashboard-main-content__count{
	text-align: center;
    margin-top: .5em;
    color: #777;
    font-size: 2em;
    font-weight: 300;
}
.dashboard-widgets-wrapper{
	background: #E3E8E9;
	padding: 0.938em;
	height: calc(100vh - 150px);
	overflow-y: scroll;
	.dashboard__teaser-text{
		color: #666;
		padding: 0;
		font-weight: 400;
	}
}
.dashboard-scrollable-stats{
	height: calc(100vh - 52px);
	overflow-y: scroll;
}