.dashboard-sidebar{
	@include span(2 of 12 last no-gutters wide);
	background: #E3E8E9;
	height: 100vh;
	overflow: scroll;
}
.dashboard-search-bar-wrapper{
	background: #D9DFE1;
	height: 3.25em;
	padding: 0.938em 0.625em;
	img{
		width: 1.25em;
		margin-right: 0.313em;
	}
	input{
		border: 0;
		background: transparent;
		color: #999;
		font-family: inherit;
		font-size: 0.875em;
		max-width: 8.125em;
		outline: none;
		vertical-align: top;
	}
}