.text-navbar{
	width: 100%;
	font-weight: 300;
	font-size: .75rem;
	text-transform: uppercase;
	color: #FFF;
	text-decoration: none;
	margin: 0 auto;
	visibility: hidden;
	text-align: center;
	padding: 0 0 .5rem;
	@media all and (max-width: 980px){
		font-size: .65rem;
	}
}
.text-overlay{
	z-index: 1;
	visibility: visible;
	position: absolute;
	top: 4.125em;
	@media all and (max-width: 767px){
		font-size: 1.5rem;
		top: .85rem;
		color: #555;
		text-align: left;
		left: 3.5rem;
	}
}
.header{
	color: #FFF;
	margin: 0;
	font-size: 3rem;
	font-weight: 300;
	z-index: 2;
	position: relative;
	@media all and (max-width: 980px){
		font-size: 5vw;
	}
	@media all and (max-width: 767px){
		padding-left: 4.375rem !important;
		z-index: 1;
		font-size: 7vw;
	}
}
.sub-header{
	color: $text-dark-grey;
	font-size: 2rem;
	margin: 2rem 1rem 1rem;
	font-weight: 300;
}
.text-category{
	margin-bottom: 0;
	margin-top: 1rem;
	color: $text-light-grey;
	font-size: 1.5rem;
	position: relative;
	font-weight: 300;
	text-align: center;
}
.text-total-count{
	text-align: center;
	margin-top: 0;
	color: $text-light-grey;
	font-size: 2rem;
	font-weight: 300;
	margin-bottom: .5rem;
	padding-top: 0.875rem;
}
.text-data-change{
	font-size: 1rem;
	text-align: center;
	margin: 0;
	margin-bottom: 1rem;
	.positive{
		color: #178817;
	}
	.negative{
		color: #CC171B;
	}
	.timeframe{
		font-size: .65rem;
		color: $text-light-grey;
	}
}
.text-chart-title{
	font-size: 1.25rem;
    color: $text-light-grey;
    text-align: center;
    margin-top: 0;
    font-weight: 300;
    margin-bottom: 1rem;
}
.text-widget-header{
	color: $text-dark-grey;
	padding: 0;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 1rem;
	font-size: .75rem;
	text-transform: uppercase;
}
.text-user-name{
	font-size: 0.813rem;
	margin-bottom: 0;
	margin-top: 0.8125rem;
	color: $brand-color;
	font-weight: 300;
	span{
		float: right;
		color: #666;
		font-size: .5rem;
	}
}
.connection-avatar-wrapper{
	.text-user-name{
		@extend .text-user-name;
		font-size: 0.625rem;
		margin-top: 0.125rem;
		text-align: center;
	}
	.text-user-type{
		@extend .text-user-name;
		color: $text-dark-grey;
	}
}
.text-user-city,
.text-user-title{
	font-size: 0.625rem;
	margin-top: 0.125rem;
	margin-bottom: 0.625rem;
	color: $text-dark-grey;
}
.text-user-city{
	margin-bottom: 0;
}
.text-shared-interests{
	color: #555;
	font-weight: 300;
	text-align: center;
	font-size: 0.625rem;
	margin-top: 0.4375rem;
	margin-bottom: 1.25rem;
	span{
		font-weight: 500;
	}
}