.vertical-navbar__icon{
	display: block;
    margin: 0 auto 1em;
    padding-top: .75em;
}
.vertical-navbar__profile-img{
	position: absolute;
	bottom: 0;
	width: 100%;
	border-bottom: 5px solid $brand-secondary-color;
}
.overlay{
	background: #000;
    opacity: .35;
    position: absolute;
    top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.vertical-navbar__overlay{
    height: 6.625em;
}
.dashboard-banner-overlay{
	opacity: .5;
}
.notification{
	position: absolute;
	background: #FF0000;
	width: 1.25em;
	padding: 0.313em;
	@include border-radius(50%);
	&.hidden{
		visibility: hidden;
	}
	span{
		color: #FFF;
		font-size: .500em;
		text-align: center;
		display: block;
	}
}
.background-banner{
    background-size: cover;
    background-repeat: no-repeat;
}
.dashboard-background-banner{
	height: 9.375em;
	position: relative;
}
.dashboard-chart{
	@include container;
	@include span(3 of 5 at 2 isolate);
	margin-bottom: 1em;
}