.vertical-navbar{
	@include span(1 of 12 first no-gutters wide);
	@include container;
	@include gradient($brand-color, $brand-color, bottom);
	height: 100vh;
	overflow: hidden;
	position: fixed;
}
.vertical-navbar__item{
	a{
		display: block;
		&:hover{
			cursor: pointer;
		}
	}
	.notification{
		top: 0.188em;
		right: calc(#{span(1 no-gutters)} * 4);
	}
	&.active,
	&:hover{
		background: lighten($brand-color, 20%);
		.vertical-navbar__name{
			visibility: visible;
		}
	}
}
.vertical-navbar__profile-wrapper{
	height: 100%;
	&:hover{
		.vertical-navbar__overlay-wrapper--profile{
			bottom: 0 !important;
			display: block;
		}
	}
}
.vertical-navbar__profile-wrapper,
.vertical-navbar__school-logo-wrapper{
	.vertical-navbar__name{
		z-index: 1;
		visibility: visible;
		position: absolute;
		top: 4.125em;
	}
	.vertical-navbar__icon{
		z-index: 1;
		position: absolute;
		visibility: visible;
		left: 50%;
		margin-left: -0.875em;
	}
}
.vertical-navbar__school-logo-wrapper{
	&:hover{
		.vertical-navbar__overlay-wrapper--school-logo{
			top: 0 !important;
			display: block;
		}
	}
}
.vertical-navbar__overlay-wrapper--profile{
	position: absolute;
    left: 0;
    right: 0;
    @include transition(bottom, 0.6s, ease-in-out);
}
.vertical-navbar__overlay-wrapper--school-logo{
	position: absolute;
    left: 0;
    right: 0;
    @include transition(top, 0.6s, ease-in-out);
}