.dashboard-sidebar__widgets-wrapper{
	padding: 0.938em;
	overflow-y: scroll;
	height: 100%;
	max-height: 100%;
	.dashboard__teaser-text{
		color: #666;
		padding: 0;
		font-weight: 400;
	}
}
.dashboard-sidebar__single-widget{
	margin-bottom: 1em;
	button{
		font-size: 0.688em;
		margin: 1.364em auto 0;
		display: block;
		background: #EEE;
		border: 1px solid #DDD;
		padding: 0.727em 3.636em;
		@include border-radius(1.818em);
		color: #666;
		outline: 0;
	}
}
.widget-avatar{
	@include border-radius(50%);
	width: 1.875em;
	float: left;
}
.dashboard-sidebar__details-wrapper{
	margin-left: 2.500em;
	.user-name{
		font-size: 0.813em;
		margin-bottom: 0;
		color: $brand-color;
		font-weight: 300;
		span{
			float: right;
			color: #666;
			font-size: .500em;
		}
	}
	.user-city{
		font-size: 0.625em;
		margin-top: 0.200em;
		margin-bottom: 0;
		color: #555;
	}
	.user-title{
		font-size: 0.625em;
		margin-top: 0.200em;
		color: #555;
		img{
			width: 1.200em;
			vertical-align: middle;
		}
	}
}
.dashboard-sidebar__connection-wrapper{
	.dashboard-sidebar__connection--avatar-wrapper{
		@include span(5 no-gutters);
	}
	.widget-avatar{
		float: initial;
		margin: 0 auto;
		display: block;
	}
	.connection-icon{
		@include span(2 no-gutters);
		margin-top: .500em;
	}
	.user-name{
		font-size: 0.625em;
		margin-top: 0.200em;
		color: $brand-color;
		margin-bottom: 0;
		text-align: center;
	}
	.user-type{
		@extend .user-name;
		color: #555;
	}
}
.dashboard-sidebar__connection--shared-interests{
	color: #555;
    font-weight: 300;
    text-align: center;
    font-size: 0.625em;
    margin-top: 0.700em;
	margin-bottom: 2em;
	span{
		font-weight: 500;
	}
}