.dashboard-sidebar__widgets-wrapper{
	overflow-y: scroll;
	height: 100%;
	max-height: 100%;
}
.dashboard-single-widget{
	margin-bottom: 4em;
	position: relative;
	@include container;
	button{
		position: absolute;
		bottom: -2.727em;
		left: 50%;
		margin-left: -5.955em;
		font-size: 0.688em;
		background: #EEE;
		border: 1px solid #DDD;
		padding: 0.727em 3.636em;
		@include border-radius(1.818em);
		color: #666;
		outline: 0;
	}
}
.dashboard-single-widget__partial{
	@include container;
	&:first-of-type{
		@include span(6 of 12 first);
	}
	&:last-of-type{
		@include span(6 of 12 last);
	}
}
.widget-avatar{
	@include border-radius(50%);
	width: 3.750em;
	float: left;
}
.dashboard-widget-user-details-wrapper{
	margin-left: 4.375em;
	margin-bottom: 1.5em;
	.user-name{
		font-size: 1em;
		margin-bottom: 0.813em;
		color: $brand-color;
		font-weight: 300;
		margin-top: 0;
		span{
			float: right;
			color: #666;
			font-size: .500em;
		}
	}
	.user-city{
		font-size: 0.75em;
		margin-top: 0;
		margin-bottom: 0;
		color: #555;
	}
	.user-title{
		font-size: 0.75em;
		margin-top: 0;
		color: #555;
		img{
			width: 1.200em;
			vertical-align: middle;
		}
	}
}
.dashboard__connection-wrapper{
	.dashboard__connection--avatar-wrapper{
		@include span(5 no-gutters);
	}
	.widget-avatar{
		float: initial;
		margin: 0 auto;
		display: block;
	}
	.connection-icon-wrapper{
		@include span(2 no-gutters);
	}
	.connection-icon{
		margin: .65em auto 0;
		display: block;
	}
	.connection-type{
		color: #555;
		font-weight: 300;
		text-align: center;
		font-size: 0.625em;
		margin-top: 0.700em;
		margin-bottom: 2em;
	}
	.user-name{
		font-size: 1em;
		font-weight: 200;
		margin-top: .5em;
		color: $brand-color;
		margin-bottom: 0;
		text-align: center;
	}
	.user-type{
		@extend .user-name;
		color: #555;
		font-size: .75em;
		font-weight: 400;
		margin-top: 0;
	}
}
.dashboard__connection--shared-interests{
	color: #555;
    font-weight: 300;
    text-align: center;
    font-size: 0.625em;
    margin-top: 0.700em;
	margin-bottom: 4em;
	span{
		color: #555;
		font-size: 1.200em;
		font-weight: 400;
	}
}