html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  background: transparent; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, select {
  vertical-align: middle; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Roboto";
  margin: 0;
  font-size: 16px; }

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

img {
  max-width: 100%;
  width: 100%; }

.navbar {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 8.47458%;
  float: left; }
  .navbar:after {
    content: " ";
    display: block;
    clear: both; }
  @media all and (max-width: 767px) {
    .navbar {
      width: 91.52542%;
      float: left;
      margin-right: 1.69492%; } }

.main {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 91.52542%;
  float: right;
  margin-right: 0; }
  .main:after {
    content: " ";
    display: block;
    clear: both; }
  @media all and (max-width: 767px) {
    .main {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.content {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 76.27119%;
  float: left; }
  .content:after {
    content: " ";
    display: block;
    clear: both; }
  @media all and (max-width: 767px) {
    .content {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.engagement {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 23.72881%;
  float: right;
  margin-right: 0; }
  .engagement:after {
    content: " ";
    display: block;
    clear: both; }
  @media all and (max-width: 767px) {
    .engagement {
      display: none; } }

.cards-wrapper,
.card-row,
.graphs-wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
  .cards-wrapper:after,
  .card-row:after,
  .graphs-wrapper:after {
    content: " ";
    display: block;
    clear: both; }

.card-row .card {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 33.89831%;
  float: left; }
  .card-row .card:after {
    content: " ";
    display: block;
    clear: both; }
  @media all and (min-width: 768px) {
    .card-row .card:first-of-type {
      width: 32.20339%;
      float: left; } }
  @media all and (max-width: 767px) {
    .card-row .card {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.graph {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .graph:after {
    content: " ";
    display: block;
    clear: both; }
  @media all and (min-width: 768px) {
    .graph:nth-of-type(1) {
      width: 49.15254%;
      float: left;
      margin-right: 1.69492%; }
    .graph:nth-of-type(2) {
      width: 49.15254%;
      float: right;
      margin-right: 0; }
    .graph:nth-of-type(3) {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }
  @media all and (max-width: 767px) {
    .graph {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.connection-avatar-wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 40.67797%;
  float: left; }
  .connection-avatar-wrapper:after {
    content: " ";
    display: block;
    clear: both; }

.connection-icon {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 15.25424%;
  float: left; }
  .connection-icon:after {
    content: " ";
    display: block;
    clear: both; }

.table-wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
  .table-wrapper:after {
    content: " ";
    display: block;
    clear: both; }

.pagination {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
  .pagination:after {
    content: " ";
    display: block;
    clear: both; }
  .pagination .previous {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 15.25424%;
    float: left; }
    .pagination .previous:after {
      content: " ";
      display: block;
      clear: both; }
  .pagination .next {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 15.25424%;
    float: left; }
    .pagination .next:after {
      content: " ";
      display: block;
      clear: both; }
  .pagination .pages {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 69.49153%;
    float: left; }
    .pagination .pages:after {
      content: " ";
      display: block;
      clear: both; }

.navbar {
  background-color: #00A9E0;
  background-color: linear-gradient(to bottom, #0096c7, #61d8ff);
  background-image: linear-gradient(to bottom, #0096c7, #61d8ff);
  height: 100vh;
  overflow: hidden;
  position: fixed; }
  .navbar .navbar-item {
    width: 100%; }
    @media all and (min-width: 768px) {
      .navbar .navbar-item.active, .navbar .navbar-item:hover {
        background: #47d2ff; }
        .navbar .navbar-item.active .text-navbar, .navbar .navbar-item:hover .text-navbar {
          visibility: visible; } }
    @media all and (max-width: 767px) {
      .navbar .navbar-item {
        height: 3.625rem;
        border-bottom: 1px solid #999; }
        .navbar .navbar-item.active {
          background: #555; }
          .navbar .navbar-item.active .text-navbar {
            color: #FFF; }
        .navbar .navbar-item .icon-small {
          float: left;
          padding-top: .75rem;
          width: inherit; }
        .navbar .navbar-item .text-navbar {
          font-size: 1.5rem;
          top: .85rem;
          text-align: left;
          margin-left: 3.5rem;
          padding-top: 1rem;
          visibility: visible; } }
  @media all and (max-width: 767px) {
    .navbar {
      z-index: 2;
      background-color: transparent;
      background-image: initial;
      overflow: scroll; } }

@media all and (min-width: 768px) {
  .menu-toggle input {
    display: none; } }
@media all and (max-width: 767px) {
  .menu-toggle {
    display: block;
    position: relative;
    top: 1.25rem;
    left: 1.25rem;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none; }
    .menu-toggle input {
      display: block;
      width: 2.5rem;
      height: 2rem;
      position: absolute;
      top: -0.4375rem;
      left: -0.3125rem;
      cursor: pointer;
      opacity: 0;
      z-index: 2;
      -webkit-touch-callout: none; }
      .menu-toggle input:checked ~ .burger-line {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px); }
      .menu-toggle input:checked ~ .burger-line:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2); }
      .menu-toggle input:checked ~ .burger-line:nth-last-child(2) {
        opacity: 1;
        transform: rotate(-45deg) translate(0, -1px); }
      .menu-toggle input:checked ~ .menu {
        transform: scale(1, 1);
        opacity: 1; }
    .menu-toggle .burger-line {
      display: block;
      width: 2rem;
      height: .25rem;
      margin-bottom: 0.3125rem;
      position: relative;
      background: #FFF;
      border-radius: 0.3125rem;
      -moz-border-radius: 0.3125rem;
      -webkit-border-radius: 0.3125rem;
      z-index: 1;
      transform-origin: 0.25rem;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
      .menu-toggle .burger-line:first-child {
        transform-origin: 0% 0%; }
      .menu-toggle .burger-line:nth-last-child(2) {
        transform-origin: 0% 100%; } }

@media all and (max-width: 767px) {
  .menu {
    display: block;
    position: absolute;
    margin: -6.25rem 0 0 -1.25rem;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    width: 100%;
    padding: 7rem 0 3.125rem;
    background: #777; }
    .menu img {
      float: left;
      margin-left: 0.625rem; }
    .menu .overlay,
    .menu .icon-overlay {
      display: none !important; }
    .menu .text-navbar {
      color: #FFF; } }

.overlay-wrapper {
  position: absolute;
  left: 0;
  right: 0; }
  .overlay-wrapper.animate-top {
    -moz-transition: top 0.6s ease-in-out;
    -ms-transition: top 0.6s ease-in-out;
    -o-transition: top 0.6s ease-in-out;
    transition: top 0.6s ease-in-out;
    -webkit-transition: top 0.6s ease-in-out; }
    @media all and (max-width: 767px) {
      .overlay-wrapper.animate-top {
        height: 3.625rem !important;
        padding-bottom: .5rem;
        border-bottom: 1px solid #999;
        margin-top: .5rem;
        top: initial !important; } }
  .overlay-wrapper.animate-bottom {
    -moz-transition: bottom 0.6s ease-in-out;
    -ms-transition: bottom 0.6s ease-in-out;
    -o-transition: bottom 0.6s ease-in-out;
    transition: bottom 0.6s ease-in-out;
    -webkit-transition: bottom 0.6s ease-in-out; }
    @media all and (max-width: 767px) {
      .overlay-wrapper.animate-bottom {
        bottom: 0 !important;
        top: 0; } }

.overlay {
  background: #000;
  opacity: .65;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.icon-small {
  width: 1.5rem; }

.icon-medium {
  width: 2.5rem; }

.icon-overlay {
  z-index: 1;
  position: absolute;
  left: 50%;
  margin-left: -0.875rem !important; }

.navbar .icon-small {
  display: block;
  margin: 0 auto .5rem;
  padding-top: .5rem;
  position: relative; }

.notification {
  position: absolute;
  background: #FF0000;
  width: 1.25rem;
  padding: 0.313rem;
  top: 0.125rem;
  right: -0.8125rem;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%; }
  .notification.hidden {
    visibility: hidden; }
  .notification span {
    color: #FFF;
    font-size: .65rem;
    text-align: center;
    display: block; }

.navbar-avatar-wrapper {
  height: 100%;
  position: absolute;
  bottom: 0 !important; }
  .navbar-avatar-wrapper .avatar {
    position: absolute;
    bottom: 0;
    border-bottom: 5px solid #F4C20D; }
    @media all and (max-width: 767px) {
      .navbar-avatar-wrapper .avatar {
        border: 0; } }

.banner {
  position: relative; }
  @media all and (max-width: 767px) {
    .banner {
      height: 4rem !important; } }

.change-triangle {
  width: 0.5rem;
  margin-bottom: 0.15rem; }

.widget-avatar {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 1.875rem;
  float: left; }

.connection-avatar-wrapper .widget-avatar {
  float: initial;
  margin: 0 auto;
  display: block; }

.text-user-title img {
  width: .75rem;
  vertical-align: middle; }

@media all and (max-width: 767px) {
  .menu img {
    width: 2rem;
    max-width: initial; } }

.text-navbar {
  width: 100%;
  font-weight: 300;
  font-size: .75rem;
  text-transform: uppercase;
  color: #FFF;
  text-decoration: none;
  margin: 0 auto;
  visibility: hidden;
  text-align: center;
  padding: 0 0 .5rem; }
  @media all and (max-width: 980px) {
    .text-navbar {
      font-size: .65rem; } }

.text-overlay {
  z-index: 1;
  visibility: visible;
  position: absolute;
  top: 4.125em; }
  @media all and (max-width: 767px) {
    .text-overlay {
      font-size: 1.5rem;
      top: .85rem;
      color: #555;
      text-align: left;
      left: 3.5rem; } }

.header {
  color: #FFF;
  margin: 0;
  font-size: 3rem;
  font-weight: 300;
  z-index: 2;
  position: relative; }
  @media all and (max-width: 980px) {
    .header {
      font-size: 5vw; } }
  @media all and (max-width: 767px) {
    .header {
      padding-left: 4.375rem !important;
      z-index: 1;
      font-size: 7vw; } }

.sub-header {
  color: #555;
  font-size: 2rem;
  margin: 2rem 1rem 1rem;
  font-weight: 300; }

.text-category {
  margin-bottom: 0;
  margin-top: 1rem;
  color: #777;
  font-size: 1.5rem;
  position: relative;
  font-weight: 300;
  text-align: center; }

.text-total-count {
  text-align: center;
  margin-top: 0;
  color: #777;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: .5rem;
  padding-top: 0.875rem; }

.text-data-change {
  font-size: 1rem;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem; }
  .text-data-change .positive {
    color: #178817; }
  .text-data-change .negative {
    color: #CC171B; }
  .text-data-change .timeframe {
    font-size: .65rem;
    color: #777; }

.text-chart-title {
  font-size: 1.25rem;
  color: #777;
  text-align: center;
  margin-top: 0;
  font-weight: 300;
  margin-bottom: 1rem; }

.text-widget-header {
  color: #555;
  padding: 0;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: .75rem;
  text-transform: uppercase; }

.text-user-name, .connection-avatar-wrapper .text-user-name, .connection-avatar-wrapper .text-user-type {
  font-size: 0.813rem;
  margin-bottom: 0;
  margin-top: 0.8125rem;
  color: #00A9E0;
  font-weight: 300; }
  .text-user-name span, .connection-avatar-wrapper .text-user-name span, .connection-avatar-wrapper .text-user-type span {
    float: right;
    color: #666;
    font-size: .5rem; }

.connection-avatar-wrapper .text-user-name, .connection-avatar-wrapper .text-user-type {
  font-size: 0.625rem;
  margin-top: 0.125rem;
  text-align: center; }
.connection-avatar-wrapper .text-user-type {
  color: #555; }

.text-user-city,
.text-user-title {
  font-size: 0.625rem;
  margin-top: 0.125rem;
  margin-bottom: 0.625rem;
  color: #555; }

.text-user-city {
  margin-bottom: 0; }

.text-shared-interests {
  color: #555;
  font-weight: 300;
  text-align: center;
  font-size: 0.625rem;
  margin-top: 0.4375rem;
  margin-bottom: 1.25rem; }
  .text-shared-interests span {
    font-weight: 500; }

@media all and (min-width: 768px) {
  .is-hoverable-logo:hover .overlay-wrapper {
    display: block; }
  .is-hoverable-logo:hover.top .overlay-wrapper {
    top: 0 !important; }
  .is-hoverable-logo:hover.bottom .overlay-wrapper {
    bottom: 0 !important; } }

.main {
  height: 100vh; }

.content {
  overflow: scroll;
  height: 100%; }

@media all and (max-width: 767px) {
  .graphs-wrapper {
    z-index: 3;
    position: relative; } }
.graphs-wrapper hr {
  border: 1px solid #CCC;
  width: 60%;
  margin-top: 2rem;
  margin-bottom: 3.25rem; }

.graph {
  height: 27.375rem; }

.engagement {
  background: #E3E8E9;
  overflow: scroll;
  height: 100%; }

.search-bar {
  background: #D9DFE1;
  height: 3.25rem;
  padding: 0.938rem 0.625rem; }
  .search-bar img {
    width: 1.25rem;
    margin-right: 0.313rem; }
  .search-bar input {
    border: 0;
    background: transparent;
    color: #999;
    font-family: inherit;
    font-size: 0.875rem;
    max-width: 8.125rem;
    outline: none;
    vertical-align: top; }
    @media all and (max-width: 980px) {
      .search-bar input {
        margin-top: .25rem;
        font-size: 0.65rem; } }

.widgets-wrapper {
  overflow-y: scroll;
  height: 100%;
  max-height: 100%;
  padding: 0.938rem; }
  .widgets-wrapper hr {
    border: 1px solid #FFF;
    width: 75%;
    margin-top: 1.75rem;
    margin-bottom: 1.75rem; }

.widget {
  margin-bottom: 1rem; }
  .widget .user-details-wrapper {
    margin-left: 2.5rem; }

@media all and (max-width: 767px) {
  .hover-wrapper {
    height: 3.625rem !important;
    margin-bottom: .5rem;
    margin-top: -.5rem; }
    .hover-wrapper img {
      margin-top: 1rem; } }
@media all and (max-width: 767px) {
  .hover-wrapper.navbar-avatar-wrapper .text-navbar {
    top: 1.75rem; } }

.z-index-helper {
  z-index: 4; }

.sort-wrapper {
  float: right;
  width: .75rem;
  position: relative;
  height: 1.125rem; }
  .sort-wrapper img {
    position: absolute;
    width: .75rem; }
    .sort-wrapper img:first-of-type {
      top: 0; }
    .sort-wrapper img:last-of-type {
      bottom: 0; }
  .sort-wrapper.asc img {
    top: 50%;
    margin-top: -0.25rem; }
    .sort-wrapper.asc img:last-of-type {
      display: none; }
  .sort-wrapper.desc img {
    bottom: 50%;
    margin-bottom: -0.25rem; }
    .sort-wrapper.desc img:first-of-type {
      display: none; }
  @media (max-width: 1219px) and (min-width: 1050px) {
    .sort-wrapper {
      width: .5rem;
      height: 0.75rem; } }
  @media all and (min-width: 768px) and (max-width: 1049px) {
    .sort-wrapper {
      display: none; }
      .sort-wrapper.asc, .sort-wrapper.desc {
        display: block;
        width: .5rem;
        height: 0.75rem;
        margin-top: -.75rem; } }

.cards-wrapper {
  padding: 0.625rem; }
  @media all and (max-width: 767px) {
    .cards-wrapper {
      z-index: 3;
      position: relative; } }

.card-row {
  padding-bottom: 0.625em;
  padding-top: 0.625em; }
  @media all and (min-width: 768px) {
    .card-row {
      border-bottom: 1px solid #EEE; } }
  .card-row:first-of-type {
    padding-top: 0; }
  .card-row:last-of-type {
    border: 0; }
  .card-row .card {
    border-right: 1px solid #EEE; }
    @media all and (min-width: 768px) {
      .card-row .card:last-of-type {
        border: 0; }
      .card-row .card:hover {
        -webkit-box-shadow: 1px 1px 8px #555;
        -moz-box-shadow: 1px 1px 8px #555;
        box-shadow: 1px 1px 8px #555; } }
    @media all and (max-width: 767px) {
      .card-row .card {
        border: 0; } }
    .card-row .card .icon-medium {
      position: absolute;
      margin-left: -3rem;
      top: -0.35rem; }
      @media all and (max-width: 980px) {
        .card-row .card .icon-medium {
          display: none; } }
    .card-row .card .chart-wrapper {
      max-width: 15.63rem;
      max-height: 4.375rem;
      display: block;
      margin: .5rem auto 0; }

.ct-chart.positive .ct-line {
  stroke: url(#gradientPositive) !important; }
.ct-chart.negative .ct-line {
  stroke: url(#gradientNegative) !important; }
.ct-chart .ct-line {
  stroke-width: 5; }

.ct-major-twelfth {
  max-height: inherit !important; }

@media all and (min-width: 768px) {
  .ct-label.ct-horizontal {
    font-size: 0.625em !important; } }
@media all and (max-width: 767px) {
  .ct-label.ct-horizontal {
    font-size: 0.5em !important; } }

#bar-chart,
#line-chart {
  height: 19.375em; }
  #bar-chart .ct-series-a line, #bar-chart .ct-series-a path,
  #line-chart .ct-series-a line,
  #line-chart .ct-series-a path {
    stroke: #61d8ff !important; }
  #bar-chart .ct-series-b line, #bar-chart .ct-series-b path,
  #line-chart .ct-series-b line,
  #line-chart .ct-series-b path {
    stroke: #00A9E0 !important; }
  #bar-chart .ct-series-c line, #bar-chart .ct-series-c path,
  #line-chart .ct-series-c line,
  #line-chart .ct-series-c path {
    stroke: #0096c7 !important; }

@media all and (min-width: 768px) {
  .ct-bar {
    stroke-width: 1.25rem !important; } }
@media all and (max-width: 767px) {
  .ct-bar {
    stroke-width: .5rem !important; } }

#pie-chart {
  height: 19.375em; }
  #pie-chart .ct-series-a path {
    fill: #61d8ff !important; }
  #pie-chart .ct-series-b path {
    fill: #00A9E0 !important; }
  #pie-chart .ct-series-c path {
    fill: #0096c7 !important; }
  #pie-chart .ct-series-d path {
    fill: #005687 !important; }
  #pie-chart .ct-label {
    color: #FFF !important;
    fill: #FFF !important;
    font-size: 1em !important; }

.bar-legend,
.line-legend,
.pie-legend {
  text-align: center; }
  .bar-legend li,
  .line-legend li,
  .pie-legend li {
    position: relative;
    padding-left: 1.3em;
    margin-bottom: 0.3em;
    list-style-type: none;
    display: inline-block;
    margin-right: 1em; }
    .bar-legend li p,
    .line-legend li p,
    .pie-legend li p {
      margin: 0;
      color: #777; }
    .bar-legend li::before,
    .line-legend li::before,
    .pie-legend li::before {
      height: 1em;
      width: 1em;
      position: absolute;
      top: 0.1em;
      left: 0;
      content: '';
      border-radius: 1em; }
  .bar-legend .ct-series-0::before,
  .line-legend .ct-series-0::before,
  .pie-legend .ct-series-0::before {
    background: #61d8ff; }
  .bar-legend .ct-series-1::before,
  .line-legend .ct-series-1::before,
  .pie-legend .ct-series-1::before {
    background: #00A9E0; }
  .bar-legend .ct-series-2::before,
  .line-legend .ct-series-2::before,
  .pie-legend .ct-series-2::before {
    background: #0096c7; }
  .bar-legend .ct-series-3::before,
  .line-legend .ct-series-3::before,
  .pie-legend .ct-series-3::before {
    background: #005687; }

.btn-widget {
  font-size: 0.688rem;
  margin: 0.9375rem auto 0;
  display: block;
  background: #EEE;
  border: 1px solid #DDD;
  padding: .5rem 2.5rem;
  border-radius: 1rem;
  -moz-border-radius: 1rem;
  -webkit-border-radius: 1rem;
  color: #666;
  outline: 0; }

.btn-table {
  display: block;
  background: #EEE;
  padding: .5rem 2.5rem;
  border-radius: 1rem;
  -moz-border-radius: 1rem;
  -webkit-border-radius: 1rem;
  outline: 0;
  margin: 0 auto;
  font-size: 1rem;
  color: #FFF;
  border: 0; }
  .btn-table.approve {
    background: #118611; }
  .btn-table.decline {
    background: #CD171B; }
  @media (max-width: 1219px) and (min-width: 1050px) {
    .btn-table {
      font-size: .75rem; } }
  @media all and (min-width: 768px) and (max-width: 1049px) {
    .btn-table {
      font-size: .75rem; } }

.table-wrapper {
  padding: 1rem; }

.table {
  margin: 1.25rem;
  width: calc(100% - 2.5rem);
  background: #EEE;
  text-align: left;
  border-collapse: separate;
  color: #555; }
  .table th,
  .table td {
    font-weight: 300;
    padding: 1rem;
    border-left: 1px solid #555;
    border-top: 1px solid #555; }
    .table th:last-of-type,
    .table td:last-of-type {
      border-right: 1px solid #555; }
  @media all and (min-width: 1220px) {
    .table thead th {
      font-size: 1.15rem; } }
  @media all and (min-width: 1050px) and (max-width: 1219px) {
    .table thead th {
      font-size: .75rem; } }
  @media all and (min-width: 768px) and (max-width: 1049px) {
    .table thead th {
      font-size: .75rem;
      padding: 1rem .5rem;
      text-align: center; } }
  .table thead th:first-of-type {
    border-radius: 0.25rem 0 0 0;
    -moz-border-radius: 0.25rem 0 0 0;
    -webkit-border-radius: 0.25rem 0 0 0; }
  .table thead th:last-of-type {
    border-radius: 0 0.25rem 0 0;
    -moz-border-radius: 0 0.25rem 0 0;
    -webkit-border-radius: 0 0.25rem 0 0; }
  .table tbody tr {
    background: #FFF; }
    .table tbody tr td {
      font-size: 1rem; }
      @media all and (min-width: 1050px) and (max-width: 1219px) {
        .table tbody tr td {
          font-size: .75rem; } }
      @media all and (min-width: 768px) and (max-width: 1049px) {
        .table tbody tr td {
          font-size: .75rem; } }
      .table tbody tr td:hover {
        color: #EEE;
        background: #777; }
      .table tbody tr td:nth-last-of-type(-n+2) {
        padding: 1rem;
        border-top: 1px solid #777;
        border-left: 1px solid #777; }
      .table tbody tr td:last-of-type {
        border-right: 1px solid #555; }
        .table tbody tr td:last-of-type:hover {
          background: inherit; }
      .table tbody tr td:nth-last-of-type(2):hover {
        background: inherit; }
    .table tbody tr:last-of-type td {
      border-bottom: 1px solid #555; }
      .table tbody tr:last-of-type td:first-of-type {
        border-radius: 0 0 0 0.25rem;
        -moz-border-radius: 0 0 0 0.25rem;
        -webkit-border-radius: 0 0 0 0.25rem; }
      .table tbody tr:last-of-type td:last-of-type {
        border-radius: 0 0 0.25rem 0;
        -moz-border-radius: 0 0 0.25rem 0;
        -webkit-border-radius: 0 0 0.25rem 0; }

.tabs {
  width: 100%;
  min-width: 50.81rem; }
  @media all and (max-width: 767px) {
    .tabs {
      min-width: 100%; } }
  .tabs:after {
    content: '';
    display: table;
    clear: both; }
  .tabs input[type=radio] {
    display: none; }
  .tabs label {
    display: block;
    float: left;
    border-bottom: 1px solid #CCC;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    background: #EEE;
    color: #999;
    padding: .5rem 1rem;
    line-height: 1.5;
    border-right: 1px solid #CCC; }
    @media all and (min-width: 1220px) {
      .tabs label {
        font-size: 1.25rem; } }
    @media all and (min-width: 1050px) and (max-width: 1219px) {
      .tabs label {
        font-size: 1rem; } }
    @media all and (min-width: 768px) and (max-width: 1049px) {
      .tabs label {
        font-size: .8rem; } }
    .tabs label:hover {
      color: #EEE;
      background: #555; }
    .tabs label:first-of-type {
      border-radius: 0.5rem 0 0 0;
      -moz-border-radius: 0.5rem 0 0 0;
      -webkit-border-radius: 0.5rem 0 0 0; }
    .tabs label:last-of-type {
      border-radius: 0 0.5rem 0 0;
      -moz-border-radius: 0 0.5rem 0 0;
      -webkit-border-radius: 0 0.5rem 0 0;
      border-right: 0; }
    .tabs label span {
      display: none; }

.tab-content {
  display: none;
  width: 100%;
  float: left;
  box-sizing: border-box;
  background-color: #EEE; }

.tab-content * {
  -webkit-animation: scale 0.7s ease-in-out;
  -moz-animation: scale 0.7s ease-in-out;
  animation: scale 0.7s ease-in-out; }

@keyframes scale {
  0% {
    transform: scale(0.9);
    opacity: 0; }
  50% {
    transform: scale(1.01);
    opacity: 0.5; }
  100% {
    transform: scale(1);
    opacity: 1; } }
.tabs [id^="tab"]:checked + label {
  color: #555;
  background: #EEE;
  border-bottom: 1px solid #EEE; }

#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3,
#tab4:checked ~ #tab-content4,
#tab5:checked ~ #tab-content5,
#tab6:checked ~ #tab-content6,
#tab7:checked ~ #tab-content7,
#tab8:checked ~ #tab-content8,
#tab9:checked ~ #tab-content9,
#tab10:checked ~ #tab-content10 {
  display: block; }

@media (min-width: 768px) {
  .tabs label span {
    display: inline-block; } }
.pagination {
  margin: 1.25rem;
  margin-top: 0;
  color: #EEE;
  width: calc(100% - 2.5rem); }

.previous,
.next {
  font-size: 1.35rem;
  color: #555; }
  @media (max-width: 1219px) and (min-width: 768px) {
    .previous,
    .next {
      font-size: 1rem; } }

.next {
  text-align: right; }

.pages {
  text-align: center;
  font-size: 1rem; }
  .pages a {
    color: #999; }
    .pages a.active, .pages a:hover {
      font-size: 1.2rem;
      color: #555; }

.disabled {
  color: #999; }

/*# sourceMappingURL=admin.css.map */
