*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Roboto";
  margin: 0; }

.container {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

a {
  text-decoration: none; }

.full-width {
  width: 100%; }

.vertical-navbar {
  width: 8.47458%;
  float: left;
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #00A9E0;
  background-color: linear-gradient(to bottom, #0096c7, #61d8ff);
  background-image: linear-gradient(to bottom, #0096c7, #61d8ff);
  height: 100vh;
  overflow: hidden;
  position: relative; }
  .vertical-navbar:after {
    content: " ";
    display: block;
    clear: both; }

.vertical-navbar__item a {
  display: block; }
  .vertical-navbar__item a:hover {
    cursor: pointer; }
.vertical-navbar__item .notification {
  top: 0.188em;
  right: calc(6.77966% * 4); }
.vertical-navbar__item.active, .vertical-navbar__item:hover {
  background: #47d2ff; }
  .vertical-navbar__item.active .vertical-navbar__name, .vertical-navbar__item:hover .vertical-navbar__name {
    visibility: visible; }

.vertical-navbar__profile-wrapper {
  height: 100%; }
  .vertical-navbar__profile-wrapper:hover .vertical-navbar__overlay-wrapper--profile {
    bottom: 0 !important;
    display: block; }

.vertical-navbar__profile-wrapper .vertical-navbar__name,
.vertical-navbar__school-logo-wrapper .vertical-navbar__name {
  z-index: 1;
  visibility: visible;
  position: absolute;
  top: 4.125em; }
.vertical-navbar__profile-wrapper .vertical-navbar__icon,
.vertical-navbar__school-logo-wrapper .vertical-navbar__icon {
  z-index: 1;
  position: absolute;
  visibility: visible;
  left: 50%;
  margin-left: -0.875em; }

.vertical-navbar__school-logo-wrapper:hover .vertical-navbar__overlay-wrapper--school-logo {
  top: 0 !important;
  display: block; }

.vertical-navbar__overlay-wrapper--profile {
  position: absolute;
  left: 0;
  right: 0;
  -moz-transition: bottom 0.6s ease-in-out;
  -ms-transition: bottom 0.6s ease-in-out;
  -o-transition: bottom 0.6s ease-in-out;
  transition: bottom 0.6s ease-in-out;
  -webkit-transition: bottom 0.6s ease-in-out; }

.vertical-navbar__overlay-wrapper--school-logo {
  position: absolute;
  left: 0;
  right: 0;
  -moz-transition: top 0.6s ease-in-out;
  -ms-transition: top 0.6s ease-in-out;
  -o-transition: top 0.6s ease-in-out;
  transition: top 0.6s ease-in-out;
  -webkit-transition: top 0.6s ease-in-out; }

.vertical-navbar__icon {
  display: block;
  margin: 0 auto .5em;
  padding-top: .5em;
  width: 1.5em; }

.vertical-navbar__profile-img {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: 5px solid #F4C20D; }

.overlay {
  background: #000;
  opacity: .35;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.dashboard-banner-overlay {
  opacity: .5; }

.notification {
  position: absolute;
  background: #FF0000;
  width: 1.25em;
  padding: 0.313em;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%; }
  .notification.hidden {
    visibility: hidden; }
  .notification span {
    color: #FFF;
    font-size: .500em;
    text-align: center;
    display: block; }

.background-banner {
  background-size: cover;
  background-repeat: no-repeat; }

.dashboard-background-banner {
  max-height: 6.375em;
  height: 100%;
  position: relative; }

.dashboard-chart {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  width: 58.33333%;
  float: left;
  margin-left: 20.83333%;
  margin-right: -100%;
  margin-bottom: 1em; }
  .dashboard-chart:after {
    content: " ";
    display: block;
    clear: both; }

.change-triangle {
  position: absolute;
  top: 0.188em;
  width: 0.938em;
  margin-left: 0.313em; }

.dashboard-main-content {
  width: 91.52542%;
  float: right;
  margin-right: 0;
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }
  .dashboard-main-content:after {
    content: " ";
    display: block;
    clear: both; }

.dashboard-content-feed {
  width: 76.27119%;
  float: left;
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }
  .dashboard-content-feed:after {
    content: " ";
    display: block;
    clear: both; }

.dashboard-chart-wrapper {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em; }
  .dashboard-chart-wrapper:after {
    content: " ";
    display: block;
    clear: both; }

.dashboard-main-content__card {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  border-right: 1px solid #EEE; }
  .dashboard-main-content__card:after {
    content: " ";
    display: block;
    clear: both; }
  .dashboard-main-content__card.first {
    width: 49.15254%;
    float: left; }
  .dashboard-main-content__card.last {
    width: 50.84746%;
    float: left; }
  .dashboard-main-content__card.no-border-right {
    border-right: 0; }
  .dashboard-main-content__card:hover {
    box-shadow: 1px 1px 8px #999; }

.dashboard-main-content__cards-wrapper {
  padding: 0.625em; }

.card-row-wrapper {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #EEE;
  padding-bottom: 0.625em;
  padding-top: 0.625em; }
  .card-row-wrapper:after {
    content: " ";
    display: block;
    clear: both; }
  .card-row-wrapper.no-border {
    border: 0; }
  .card-row-wrapper.no-padding-top {
    padding-top: 0; }

.dashboard-main-content__count {
  text-align: center;
  margin-top: .5em;
  color: #777;
  font-size: 2em;
  font-weight: 300; }

.dashboard-widgets-wrapper {
  background: #E3E8E9;
  padding: 0.938em;
  height: calc(100vh - 150px);
  overflow-y: scroll; }
  .dashboard-widgets-wrapper .dashboard__teaser-text {
    color: #666;
    padding: 0;
    font-weight: 400; }

.dashboard-scrollable-stats {
  height: calc(100vh - 52px);
  overflow-y: scroll; }

.dashboard-sidebar {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  width: 40.67797%;
  float: right;
  margin-right: 0;
  height: 100vh;
  overflow: scroll; }
  .dashboard-sidebar:after {
    content: " ";
    display: block;
    clear: both; }

.dashboard-search-bar-wrapper {
  background: #D9DFE1;
  height: 3.25em;
  padding: 0.938em 0.625em; }
  .dashboard-search-bar-wrapper img {
    width: 1.25em;
    margin-right: 0.313em; }
  .dashboard-search-bar-wrapper input {
    border: 0;
    background: transparent;
    color: #999;
    font-family: inherit;
    font-size: 0.875em;
    max-width: 8.125em;
    outline: none;
    vertical-align: top; }

.dashboard__teaser-text {
  font-weight: 300;
  margin-top: 0;
  font-size: .75em;
  text-transform: uppercase;
  padding: 0 .313em; }

.vertical-navbar__name {
  color: #FFF;
  text-decoration: none;
  margin: 0 auto;
  visibility: hidden;
  text-align: center;
  padding: 0 0 .5em; }

.category-text {
  text-align: center;
  font-size: 0.875em;
  margin-top: 0;
  font-weight: 300; }

.dashboard-main-content__category-text {
  margin-bottom: 0;
  margin-top: 1em;
  color: #777;
  position: relative; }

.chart-title {
  font-size: 1em;
  color: #555;
  text-align: center;
  margin-top: 0; }

.dashboard-main-content__school-name {
  color: #FFF;
  margin: 0;
  font-size: 3em;
  padding: .47em .75em;
  font-weight: 300;
  z-index: 2;
  position: relative; }

.dashboard-sidebar__widgets-wrapper {
  overflow-y: scroll;
  height: 100%;
  max-height: 100%; }

.dashboard-single-widget {
  margin-bottom: 4em;
  position: relative;
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }
  .dashboard-single-widget:after {
    content: " ";
    display: block;
    clear: both; }
  .dashboard-single-widget button {
    position: absolute;
    bottom: -2.727em;
    left: 50%;
    margin-left: -5.955em;
    font-size: 0.688em;
    background: #EEE;
    border: 1px solid #DDD;
    padding: 0.727em 3.636em;
    border-radius: 1.818em;
    -moz-border-radius: 1.818em;
    -webkit-border-radius: 1.818em;
    color: #666;
    outline: 0; }

.dashboard-single-widget__partial {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }
  .dashboard-single-widget__partial:after {
    content: " ";
    display: block;
    clear: both; }
  .dashboard-single-widget__partial:first-of-type {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%; }
  .dashboard-single-widget__partial:last-of-type {
    width: 49.15254%;
    float: right;
    margin-right: 0; }

.widget-avatar {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 3.750em;
  float: left; }

.dashboard-widget-user-details-wrapper {
  margin-left: 4.375em;
  margin-bottom: 1.5em; }
  .dashboard-widget-user-details-wrapper .user-name, .dashboard-widget-user-details-wrapper .dashboard__connection-wrapper .user-type, .dashboard__connection-wrapper .dashboard-widget-user-details-wrapper .user-type {
    font-size: 1em;
    margin-bottom: 0.813em;
    color: #00A9E0;
    font-weight: 300;
    margin-top: 0; }
    .dashboard-widget-user-details-wrapper .user-name span, .dashboard-widget-user-details-wrapper .dashboard__connection-wrapper .user-type span, .dashboard__connection-wrapper .dashboard-widget-user-details-wrapper .user-type span {
      float: right;
      color: #666;
      font-size: .500em; }
  .dashboard-widget-user-details-wrapper .user-city {
    font-size: 0.75em;
    margin-top: 0;
    margin-bottom: 0;
    color: #555; }
  .dashboard-widget-user-details-wrapper .user-title {
    font-size: 0.75em;
    margin-top: 0;
    color: #555; }
    .dashboard-widget-user-details-wrapper .user-title img {
      width: 1.200em;
      vertical-align: middle; }

.dashboard__connection-wrapper .dashboard__connection--avatar-wrapper {
  width: 40.67797%;
  float: left; }
.dashboard__connection-wrapper .widget-avatar {
  float: initial;
  margin: 0 auto;
  display: block; }
.dashboard__connection-wrapper .connection-icon-wrapper {
  width: 15.25424%;
  float: left; }
.dashboard__connection-wrapper .connection-icon {
  margin: .65em auto 0;
  display: block; }
.dashboard__connection-wrapper .connection-type {
  color: #555;
  font-weight: 300;
  text-align: center;
  font-size: 0.625em;
  margin-top: 0.700em;
  margin-bottom: 2em; }
.dashboard__connection-wrapper .user-name, .dashboard__connection-wrapper .user-type {
  font-size: 1em;
  font-weight: 200;
  margin-top: .5em;
  color: #00A9E0;
  margin-bottom: 0;
  text-align: center; }
.dashboard__connection-wrapper .user-type {
  color: #555;
  font-size: .75em;
  font-weight: 400;
  margin-top: 0; }

.dashboard__connection--shared-interests {
  color: #555;
  font-weight: 300;
  text-align: center;
  font-size: 0.625em;
  margin-top: 0.700em;
  margin-bottom: 4em; }
  .dashboard__connection--shared-interests span {
    color: #555;
    font-size: 1.200em;
    font-weight: 400; }

/*# sourceMappingURL=styles.css.map */
