*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Roboto";
  margin: 0; }

.container {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

a {
  text-decoration: none; }

.full-width {
  width: 100%; }

.vertical-navbar {
  width: 8.47458%;
  float: left;
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  background-color: #00A9E0;
  background-color: linear-gradient(to bottom, #0096c7, #61d8ff);
  background-image: linear-gradient(to bottom, #0096c7, #61d8ff);
  height: 100vh;
  overflow: hidden;
  position: relative; }
  .vertical-navbar:after {
    content: " ";
    display: block;
    clear: both; }

.vertical-navbar__item a {
  display: block; }
  .vertical-navbar__item a:hover {
    cursor: pointer; }
.vertical-navbar__item .notification {
  top: 0.188em;
  right: calc(6.77966% * 4); }
.vertical-navbar__item.active, .vertical-navbar__item:hover {
  background: #47d2ff; }
  .vertical-navbar__item.active .vertical-navbar__name, .vertical-navbar__item:hover .vertical-navbar__name {
    visibility: visible; }
.vertical-navbar__item:first-of-type .vertical-navbar__icon {
  padding-top: .85em; }

.vertical-navbar__profile-wrapper {
  height: 100%; }
  .vertical-navbar__profile-wrapper .vertical-navbar__icon {
    z-index: 1;
    position: absolute;
    visibility: visible;
    left: 50%;
    margin-left: -0.875em; }
  .vertical-navbar__profile-wrapper .vertical-navbar__name {
    z-index: 1;
    visibility: visible;
    position: absolute;
    top: 4.125em; }
  .vertical-navbar__profile-wrapper:hover .vertical-navbar__overlay-wrapper {
    bottom: 0;
    display: block; }

.vertical-navbar__overlay-wrapper {
  position: absolute;
  bottom: -6.625em;
  left: 0;
  right: 0;
  height: 6.625em;
  -moz-transition: bottom 0.6s ease-in-out;
  -ms-transition: bottom 0.6s ease-in-out;
  -o-transition: bottom 0.6s ease-in-out;
  transition: bottom 0.6s ease-in-out;
  -webkit-transition: bottom 0.6s ease-in-out; }

.vertical-navbar__icon {
  display: block;
  margin: 0 auto 1em;
  padding-top: .75em; }

.vertical-navbar__profile-img {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: 5px solid #F4C20D; }

.overlay {
  background: #000;
  opacity: .35;
  position: absolute; }

.vertical-navbar__overlay {
  height: 6.625em; }

.dashboard-aside__overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.notification {
  position: absolute;
  background: #FF0000;
  width: 1.25em;
  padding: 0.313em;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%; }
  .notification.hidden {
    visibility: hidden; }
  .notification span {
    color: #FFF;
    font-size: .500em;
    text-align: center;
    display: block; }

.dashboard-aside {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  width: 16.94915%;
  float: left;
  height: 100vh;
  overflow: hidden; }
  .dashboard-aside:after {
    content: " ";
    display: block;
    clear: both; }

.dashboard-aside__info-wrapper {
  background-color: #3E627E;
  background-color: linear-gradient(to bottom, #36556d, #7ea7b2);
  background-image: linear-gradient(to bottom, #36556d, #7ea7b2);
  padding: 1.563em .75em;
  color: #CCC;
  height: 100%; }

.dashboard-aside__stat-wrapper {
  width: 49.15254%;
  float: left; }
  @media all and (max-width: 66.25em) {
    .dashboard-aside__stat-wrapper {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.dashboard-aside__count {
  text-align: center;
  color: #FFF;
  font-size: 1.5em;
  margin: 0.625em 0 0.375em;
  font-weight: 300; }

.dashboard-main-content {
  width: 57.62712%;
  float: left; }

.dashboard-main-content__charts-wrapper {
  border-bottom: 1px solid #EEE; }

.dashboard-chart {
  width: 32.20339%;
  float: left; }

.dashboard-main-content__school-name {
  color: #3E627E;
  margin: 0;
  font-size: 3em;
  padding: .75em .75em 0;
  font-weight: 300; }

.dashboard-main-content__card {
  width: 49.15254%;
  float: left; }
  .dashboard-main-content__card.no-border-right {
    border-right: 0; }
  .dashboard-main-content__card:hover {
    box-shadow: 1px 1px 8px #999; }

.dashboard-main-content__cards-wrapper {
  padding: 0.625em; }

.top-card,
.middle-card {
  border-bottom: 1px solid #EEE;
  border-right: 1px solid #EEE; }

.bottom-card {
  border-right: 1px solid #EEE; }

.dashboard-main-content__count {
  text-align: center;
  margin-top: .5em;
  color: #777;
  font-size: 2em;
  font-weight: 300; }

.dashboard-sidebar {
  width: 16.94915%;
  float: right;
  margin-right: 0;
  background: #E3E8E9;
  height: 100vh;
  overflow: scroll; }

.dashboard-search-bar-wrapper {
  background: #D9DFE1;
  height: 3.25em;
  padding: 0.938em 0.625em; }
  .dashboard-search-bar-wrapper img {
    width: 1.25em;
    margin-right: 0.313em; }
  .dashboard-search-bar-wrapper input {
    border: 0;
    background: transparent;
    color: #999;
    font-family: inherit;
    font-size: 0.875em;
    max-width: 8.125em;
    outline: none;
    vertical-align: top; }

.dashboard__teaser-text {
  font-weight: 300;
  margin-top: 0;
  font-size: .75em;
  text-transform: uppercase;
  padding: 0 .313em; }

.vertical-navbar__name {
  color: #FFF;
  text-decoration: none;
  margin: 0 auto;
  visibility: hidden;
  text-align: center;
  padding: 0 0 1em; }

.category-text {
  text-align: center;
  font-size: 0.875em;
  margin-top: 0;
  font-weight: 300; }

.dashboard-main-content__category-text {
  margin-bottom: 0;
  margin-top: 1em;
  color: #777; }

.dashboard-sidebar__widgets-wrapper {
  padding: 0.938em;
  overflow-y: scroll;
  height: 100%;
  max-height: 100%; }
  .dashboard-sidebar__widgets-wrapper .dashboard__teaser-text {
    color: #666;
    padding: 0;
    font-weight: 400; }

.dashboard-sidebar__single-widget {
  margin-bottom: 1em; }
  .dashboard-sidebar__single-widget button {
    font-size: 0.688em;
    margin: 1.364em auto 0;
    display: block;
    background: #EEE;
    border: 1px solid #DDD;
    padding: 0.727em 3.636em;
    border-radius: 1.818em;
    -moz-border-radius: 1.818em;
    -webkit-border-radius: 1.818em;
    color: #666;
    outline: 0; }

.widget-avatar {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 1.875em;
  float: left; }

.dashboard-sidebar__details-wrapper {
  margin-left: 2.500em; }
  .dashboard-sidebar__details-wrapper .user-name, .dashboard-sidebar__details-wrapper .dashboard-sidebar__connection-wrapper .user-type, .dashboard-sidebar__connection-wrapper .dashboard-sidebar__details-wrapper .user-type {
    font-size: 0.813em;
    margin-bottom: 0;
    color: #00A9E0;
    font-weight: 300; }
    .dashboard-sidebar__details-wrapper .user-name span, .dashboard-sidebar__details-wrapper .dashboard-sidebar__connection-wrapper .user-type span, .dashboard-sidebar__connection-wrapper .dashboard-sidebar__details-wrapper .user-type span {
      float: right;
      color: #666;
      font-size: .500em; }
  .dashboard-sidebar__details-wrapper .user-city {
    font-size: 0.625em;
    margin-top: 0.200em;
    margin-bottom: 0;
    color: #555; }
  .dashboard-sidebar__details-wrapper .user-title {
    font-size: 0.625em;
    margin-top: 0.200em;
    color: #555; }
    .dashboard-sidebar__details-wrapper .user-title img {
      width: 1.200em;
      vertical-align: middle; }

.dashboard-sidebar__connection-wrapper .dashboard-sidebar__connection--avatar-wrapper {
  width: 40.67797%;
  float: left; }
.dashboard-sidebar__connection-wrapper .widget-avatar {
  float: initial;
  margin: 0 auto;
  display: block; }
.dashboard-sidebar__connection-wrapper .connection-icon {
  width: 15.25424%;
  float: left;
  margin-top: .500em; }
.dashboard-sidebar__connection-wrapper .user-name, .dashboard-sidebar__connection-wrapper .user-type {
  font-size: 0.625em;
  margin-top: 0.200em;
  color: #00A9E0;
  margin-bottom: 0;
  text-align: center; }
.dashboard-sidebar__connection-wrapper .user-type {
  color: #555; }

.dashboard-sidebar__connection--shared-interests {
  color: #555;
  font-weight: 300;
  text-align: center;
  font-size: 0.625em;
  margin-top: 0.700em;
  margin-bottom: 2em; }
  .dashboard-sidebar__connection--shared-interests span {
    font-weight: 500; }

/*# sourceMappingURL=styles.css.map */
